@charset "ISO-8859-1";

body {
	background-color: rgb(23,24,25);
	color: #66B6B8;
}

a {
	text-decoration: none;
}

#header {
	display: flex;
	justify-content: space-evenly;
	padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #8bebeb;
    box-shadow: 0px 1px 4px 0px #8bebeb;
}

#header img {
	width: 13em;
}

.img-logo {
	align-content: center;
}


.nav-bar ul {
	display: flex;
    list-style-type: none;
    column-gap: 2em;
    padding: 0;
}
.nav-bar {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}