<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>codersWeb</title>
	<link rel="stylesheet" href="../static/css/styles.css"> 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <header id="header">
      <div class="img-logo">
        <a href="index.html"><img alt="Logo de pagina" src="../static/images/logo.png"></a>
      </div>
       <nav class="nav-bar">
	   		<ul>
	   			<li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Plataforma</a></li>
	   		    <li><a href="#infoBasica">Información</a></li>
	   		    <li><a href="#modalidad">Modalidad</a></li>
	   		    <li><a href="#preguntasFrecuentes">Preguntas Frecuentes</a></li>
	   		    <li><a href="#habilidadesDigitales">Habilidades Digitales</a></li>
	   		    <li><a href="#contactos">Nosotros</a></li>
	   		    <li><a href="form-cliente.html">Regístrate</a></li>
	   		</ul>
       </nav>
   </header>
   
   <main>
	     <section>
	     	<div class="imgPresentacion">	  	
		     	  <span>
		           		<img alt="Imagen de presentacion" src="../static/images/foto-portada.jpg">
		           </span>
		     </div>   
		     <div class="textoPortada">
		     	<h1>
		             <span>Construye tu futuro</span>
		             <span>desde donde estés</span>
		         </h1>
		          <p>Transformamos desafíos digitales en oportunidades</p>
		     </div>    
	    </section>
     
     	
     <section id="infoBasica" class="relative">
        <div class="container1">
        	<div class="introduccion item-container"  >
	              <h2>Programacion Visual APU-2008</h2>
		         <p> 
		           Es un materia integral diseñado para proporcionar a los estudiantes un sólido
		           entendimiento de los principios fundamentales y las tecnologías modernas utilizadas en el desarrollo
		           de aplicaciones web con Java. Desde sus bases en el lenguaje Java hasta el desarrollo de aplicaciones robustas 
		           utilizando Spring Boot y herramientas asociadas, este curso está diseñado para equipar a los participantes con las 
		           habilidades necesarias para enfrentar los desafíos del desarrollo web en el mundo contemporáneo.
		         </p>
        	</div>
        </div>
        
        
        <div class="container2">
	          <div class="requerimientos item-container">	
	          	   <h4>Requerimientos académicos</h4>
	          	   <div class="container-items">
	          	   		<div>
		          	   		<div class="item">
			          	   		 <i class="fa-solid fa-desktop"></i>
			          	   		 <h5>Conocimientos Básicos de Programación</h5>
		          	   		</div>
	          	  		 </div>
		          	   <div>
		          	   		<div class="item">
			          	   		 <i class="fa-solid fa-arrow-pointer"></i>
			          	   		 <h5>Conocimientos relacionados a la descarga e instalación de programas</h5>
		          	   		</div>
		          	   </div>
		          	   <div>
		          	   		<div class="item">
			          	   		 <i class="fa-solid fa-puzzle-piece"></i>
			          	   		 <h5>Capacidad de abordar problemas complejos de manera sencilla</h5>
		          	   		</div>
		          	   </div>
	          	   </div> 
	          </div>
        </div>
        
        <div class="container1 containerTemas">
          <div class="temas item-container">
               <h4>¿Qué vas a aprender?</h4>
	          <ul>
	          	<li>Enfoque Integral</li>
	          	<li>Fundamentos de Java</li>
	          	<li>Programación Orientada a Objetos (POO)</li>
	          	<li>Introducción a Spring Boot</li>
	          	<li>Gestión de Dependencias y Versionamiento</li>
	          	<li>Desarrollo de Aplicaciones Web</li>
	          	<li>Persistencia de Objetos con JPA</li>
	          	<li>Desarrollo Practico</li>
	          	<li>Versionamiento</li>
	          </ul>
          </div>
          <div class="fotos-personas">
          	<img alt="foto-personas" src="../static/images/foto-personas.png">
          </div>
        </div>
            
     </section>
     
     <section id=modalidad class="relative container2">
         <div class="item-container containerInformacion">
             <div class="informacion">
                    <h3>Información</h3>
             		<div>
             		    <div class="item-infor">
             		    	<i class="fa-solid fa-book-open"></i>
	             			<h4>Modalidad de Cursado Virtual</h4>
             		    </div>
             		    
	             		<p>Asincrónico y Sincrónico</p>
	           		</div>
	           		<div>
	           		    <div class="item-infor">
	           		    	<i class="fa-solid fa-wand-magic-sparkles"></i>
	           				<h4>Metodología</h4>
	           		    </div>
	           			<p>Aula Invertida</p>
	          		 </div>
	           		<div>
	           		    <div class="item-infor">
	           		    	 <i class="fa-regular fa-calendar-minus"></i>
	           				<h4>Duración</h4>
	           		    </div>
	           			<p>Cuatrimestral</p>
	           		</div>
	          		 <div>
	          		     <div class="item-infor">
	          		     	 <i class="fa-solid fa-user-tie"></i>
	           				<h4>Responsable Catedra</h4>
	          		     </div>
	           			<p>Mg. Ing. Ariel Alejandro Vega</p>
	           		</div>
	          		 <div>
	          		    <div class="item-infor">
	          		    	<i class="fa-solid fa-user"></i>
	           				<h4>JTP Ded. Simple</h4>
	          		    </div>
	           			<p>Ing. Carolina Apaza</p>
	           		</div>
	           		<div class="containerDescarga"><a href="../static/download/Programa.pdf" > Descargar Programa</a></div>
             </div>  
        </div>

			<div class="item-container conteinerCursada">
				<div class="cursada">
					<h3>Horarios de la Cursada</h3>
					<div >
					    <div class="item-infor">
					    	<i class="fa-solid fa-book"></i>
							<h5>Teorica</h5>
					    </div>
						
						<p>Miércoles: 14 a 17 hs</p>
					</div>

					<div>
					     <div class="item-infor">
					      	<i class="fa-solid fa-laptop-code"></i>
					     	<h5>Practicas</h5>
					     </div>
						
						<table class="table">
							<tr class="columTable">
								<th>Dias</th>
								<th>Horario</th>
							</tr>
							<tr>
								<td class="rowsTable">Lunes</td>
								<td>18 a 21</td>
							</tr>
							<tr>
								<td class="rowsTable">Jueves</td>
								<td>14 a 17</td>
							</tr>
							<tr>
								<td class="rowsTable">Viernes</td>
								<td>18 a 21</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>
     
     <section id="preguntasFrecuentes" class="relative container1">        
        <div class="item-container">
          <h3>Preguntas Frecuentes</h3>
          <div>
             <div class="item-infor">
               	<i class="fa-solid fa-star"></i>
               	<h5>¿Es obligatoria la asistencia a las clases?</h5>
             </div>
             <p>Sí, la asistencia a las clases, tanto prácticas como teóricas, es obligatoria.
               Es crucial que los estudiantes asistan para participar en discusiones, realizar 
               consultas y trabajar en temas con sus compañeros. 
               Esto garantiza una experiencia de aprendizaje completa y colaborativa.</p>
          </div>
          
          <div>
             <div class="item-infor">
                <i class="fa-solid fa-star"></i>
                <h5>¿Es necesario ver las clases asincronicas?</h5>
             </div>
             <p>Sí, es necesario ver las clases asincrónicas para que el abordaje de los temas durante 
               las clases sincrónicas sea más práctico y eficiente. Esto requiere el compromiso de los 
               estudiantes con su aprendizaje y la participación activa en el proceso educativo.</p>
          </div>
          
          <div>
             <div class="item-infor">
             	<i class="fa-solid fa-star"></i>
                <h5>¿Es obligatorio la presentacion de los trabajos practicos?</h5>
             </div>
             <p>Sí, es obligatoria la presentación de los trabajos prácticos. Esta práctica es fundamental 
               para llevar un control del progreso de los estudiantes y asegurarse de que estén comprendiendo 
               los temas abordados en la materia.</p>
          </div>
        </div>
     </section>
   </main>
   
   <aside id="habilidadesDigitales" class="relative container2">
      <div class="item-container">
      	 <h2>Habilidades Digitales</h2>
     	 <div> 
       		<p>Te compartimos guías de expertos para que puedas nivelarte y alcanzar tu máximo potencial en el Desarrollo Web en Java. </p>
      		
      		<div class="containerAdicional">
      			<div>
	      		    <h3>Curso de Git Completo</h3>
	      		    <div>
	      		    	 <a href="https://youtu.be/9ZJ-K-zk_Go?t=2995"><img alt="foto-git" src="../static/images/foto-git.png"></a>
	      		    </div>
      			</div>
	      		<div>
		      		 <h3>Mejora en Programación jugando</h3>
		      		   <div>
		      		     <a href="https://www.notnini.com/"><img alt="foto-curso" src="../static/images/foto-programacion.png"></a>
		      		   </div>
	      		</div>
      		</div>
         </div>
      </div>
   </aside>
   
   <footer id="contactos" class="relative">
	     <div>
	        <div class="links">
	            <div class="containerLogoFooter">
		          	<img alt="logo" src="../static/images/logo.png">
		        </div>
	        	<div> 
		           <h4>Links Utiles</h4>
		           <p><a href="#terminosCondiciones">Términos y Condiciones</a></p>
		           <p><a href="#politicaPrivacidad">Política de Privacidad</a></p>
	      		  </div>
	        </div>
	        <div class="containerRedes">
	            <div class="red"> 
		           	<a href="https://github.com/mili-08"><strong>By Milagro Jaquelina Martinez ❤️</strong> </a>
		        </div>
	        	<div class="red">
		           <span><a href="https://www.instagram.com/" ><i class="fa-brands fa-instagram"></i></a></span>
		           <span><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></span>
		           <span><a href="https://www.tiktok.com/es" ><i class="fa-brands fa-tiktok"></i></a></span>
	        	</div>
	        </div>
	     </div>
	     <form action="">
	       <label></label>
	     </form>
   </footer>
</body>
</html>