<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Web Coders</title>
</head>
<body>
    <header>
     <h1>Desarrollo Web con Java</h1>
   </header>
   
   <nav>
   		<ul>
   			<li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Curso de Programación Visual</a></li>
   		    <li><a href="#infoBasica">Acerca del Curso</a></li>
   		    <li><a href="#horarios">Horaririos</a></li>
   		    <li><a href="#Contactos">Contactos</a></li>
   		</ul>

   </nav>
   
   <main>
     
     <section id="infoBasica">
        <h3>Programacion Visual - APU-2008</h3>
        <div> 
           La materia Programación Visual es un curso integral diseñado para proporcionar a los estudiantes un sólido
           entendimiento de los principios fundamentales y las tecnologías modernas utilizadas en el desarrollo
           de aplicaciones web con Java. Desde sus bases en el lenguaje Java hasta el desarrollo de aplicaciones robustas 
           utilizando Spring Boot y herramientas asociadas, este curso está diseñado para equipar a los participantes con las 
           habilidades necesarias para enfrentar los desafíos del desarrollo web en el mundo contemporáneo.
        </div>
        
        <div>
          <h4>¿Qué vas a aprender?</h4>
          <ul>
          	<li>Enfoque Integral</li>
          	<li>Fundamentos de Java</li>
          	<li>Programación Orientada a Objetos (POO)</li>
          	<li>Introducción a Spring Boot</li>
          	<li>Gestión de Dependencias y Versionamiento</li>
          	<li>Desarrollo de Aplicaciones Web</li>
          	<li>Persistencia de Objetos con JPA</li>
          	<li>Desarrollo Practico</li>
          </ul>
        </div>
        
        <div>
           <h4>Requerimientos académicos</h4>
           <ol>
             <li>Conocimientos Básicos de Programación: Es recomendable tener conocimientos básicos de programación, 
                 incluyendo conceptos como variables, tipos de datos, estructuras de control y funciones.</li>
             <li>Alfabetización digital: Conocimientos relacionados a la descarga e instalación de programas</li>
             <li>Habilidades de resolución de problemas: Capacidad de abordar problemas complejos de manera sencilla.</li>
           </ol>
        </div>
     </section>
     <section >
 
     </section>
     
     <section>
     </section>
     
     
   </main>
   
   <aside>
   </aside>
   
   <footer>
   </footer>
</body>
</html>