<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Web Coders</title>
</head>
<body>
    <header>
      <div>
        <img alt="Logo de pagina" src="../static/images/logo.png" width="150">
      </div>
     <h1>Desarrollo Web con Java</h1>
     <div>
       <img alt="Imagen de presentacion" src="https://t-hub.mx/storage/blog/BJgPuaZEtc1OfU415JFbsd0b4nStv7oweNDABPUN.jpeg" width="850" >
     </div>
   </header>
   
   <nav>
   		<ul>
   			<li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Curso de Programación Visual</a></li>
   		    <li><a href="#infoBasica">Acerca del Curso</a></li>
   		    <li><a href="#modalidad">Modalidad</a></li>
   		    <li><a href="#preguntasFrecuentes">Preguntas Frecuentes</a></li>
   		    <li><a href="#habilidadesDigitales">Habilidades Digitales</a></li>
   		    <li><a href="#contactos">Nosotros</a></li>
   		</ul>

   </nav>
   
   <main>
     
     <section id="infoBasica">
        <h2>Programacion Visual - APU-2008</h2>
        <div>
	          <h4>Introducción</h4>
	         <p> 
	           La materia Programación Visual es un curso integral diseñado para proporcionar a los estudiantes un sólido
	           entendimiento de los principios fundamentales y las tecnologías modernas utilizadas en el desarrollo
	           de aplicaciones web con Java. Desde sus bases en el lenguaje Java hasta el desarrollo de aplicaciones robustas 
	           utilizando Spring Boot y herramientas asociadas, este curso está diseñado para equipar a los participantes con las 
	           habilidades necesarias para enfrentar los desafíos del desarrollo web en el mundo contemporáneo.
	         </p>
        </div>
        
        <div>
           <h4>Requerimientos académicos</h4>
           <ol>
             <li>Conocimientos Básicos de Programación.</li>
             <li>Conocimientos relacionados a la descarga e instalación de programas.</li>
             <li>Capacidad de abordar problemas complejos de manera sencilla.</li>
           </ol>
        </div>
        
        <div>
          <h4>¿Qué vas a aprender?</h4>
          <ul>
          	<li>Enfoque Integral</li>
          	<li>Fundamentos de Java</li>
          	<li>Programación Orientada a Objetos (POO)</li>
          	<li>Introducción a Spring Boot</li>
          	<li>Gestión de Dependencias y Versionamiento</li>
          	<li>Desarrollo de Aplicaciones Web</li>
          	<li>Persistencia de Objetos con JPA</li>
          	<li>Desarrollo Practico</li>
          </ul>
        </div>
        
        <div> 
           <h4>Catedra</h4>
           <h5>Responsable de Catedra</h5>
              <ul><li>Mg. Ing. Ariel Alejandro Vega</li></ul>
           <h5>Equipo</h5>
           <ul>
             	<li>JTP Ded. Simple: Ing. Carolina Apaza</li>
             	<li>Prof Adj Ded. Simple Mg. Ing. Gustavo Sosa</li>
             	<li>Ayu. Primera Ded. Simple Juan Rodriguez</li>
           </ul>
        </div>
        
        <div><img alt="Foto" src="../static/images/foto_soft.png" width=700 > </div>
        <div><a href="../static/download/Programa.pdf" > Descargar Programa</a></div>
            
     </section>
     
     <section id=modalidad>
         <div>
	           <h3>Modalidad de Cursado Virtual: Asincrónico y Sincrónico</h3>
	           <h4>Caracteristicas</h4>
	           <ul>
	             <li> <strong>Asincrónico:</strong> Flexibilidad de horario para acceder a materiales y actividades.</li>
	             <li> <strong>Sincrónico:</strong> Clases en tiempo real mediante videoconferencias u otros medios.</li>
	           </ul>
	           <h4>Metodología</h4>
	           <ul>
	             <li> <strong>Aula Invertida:</strong> Estudio previo de materiales por parte de los estudiantes antes de las clases.</li>
	           </ul>
	           <h4>Ventajas</h4>
	           <ul>
	              <li>Flexibilidad para estudiantes con horarios ocupados.</li>
	              <li>Fomenta la autonomía y responsabilidad en el aprendizaje.</li>
	              <li>Mejora el compromiso y la participación en clase.</li>
	           </ul>
        </div>
        
         <h3>Horarios de la Cursada</h3>
         <div>
            <h5>Teorica</h5>
             <p>Miércoles: 14 a 17 hs</p>
         </div>
        
        <div>
	        <h5>Practicas</h5>
	        <table border=1>
	          <tr> 
	             <th>Dias</th>
	             <th>Horario</th>
	          </tr>
	          <tr>
	         	 <td>Lunes</td>
	         	 <td>18 a 21 hs</td>
	          </tr>
	          <tr>
	         	 <td>Jueves</td>
	         	 <td>14 a 17 hs</td>
	          </tr>
	          <tr>
	         	 <td>Viernes</td>
	         	 <td>18 a 21 hs</td>
	          </tr>
	        </table>
        </div>
      
     </section>
     
     <section id="preguntasFrecuentes">
        <div>
          <h3>Preguntas Frecuentes</h3>
          <div>
             <p><strong>¿Es obligatoria la asistencia a las clases?</strong></p>
             <p>Sí, la asistencia a las clases, tanto prácticas como teóricas, es obligatoria.
               Es crucial que los estudiantes asistan para participar en discusiones, realizar 
               consultas y trabajar en temas con sus compañeros. 
               Esto garantiza una experiencia de aprendizaje completa y colaborativa.</p>
          </div>
          
          <div>
             <p><strong>¿Es necesario ver las clases asincronicas?</strong></p>
             <p>Sí, es necesario ver las clases asincrónicas para que el abordaje de los temas durante 
               las clases sincrónicas sea más práctico y eficiente. Esto requiere el compromiso de los 
               estudiantes con su aprendizaje y la participación activa en el proceso educativo.</p>
          </div>
          
          <div>
             <p><strong>¿Es obligatorio la presentacion de los trabajos practicos?</strong></p>
             <p>Sí, es obligatoria la presentación de los trabajos prácticos. Esta práctica es fundamental 
               para llevar un control del progreso de los estudiantes y asegurarse de que estén comprendiendo 
               los temas abordados en el curso.</p>
          </div>
        </div>
     </section>
   </main>
   
   <aside id="habilidadesDigitales">
      <h2>Habilidades Digitales</h2>
      <div> <img alt="Foto Desarrollo Web" src="https://blog.openclassrooms.com/es/wp-content/uploads/sites/5/2017/09/AdobeStock_126016889apaisado.jpg" width="560" >
      </div>
      <div> 
       		<p>Te compartimos guías de expertos para que puedas nivelarte y alcanzar tu máximo potencial en el Desarrollo Web en Java. </p>
      		<p><strong>¡No dejes pasar esta oportunidad, el momento es ahora!</strong></p>
      		<ul>
        		<li><a href="https://youtu.be/9ZJ-K-zk_Go?t=2995">Curso de Git Completo</a></li>
        		<li><a href="https://www.notnini.com/">Mejora tus habilidades en Programación jugando</a></li>
      		</ul>
      </div>
   </aside>
   
   <footer id="contactos">
     <div>
        <div> 
           <h4>Links Utiles</h4>
           <p><a href="#terminosCondiciones">Términos y Condiciones</a></p>
           <p><a href="#politicaPrivacidad">Política de Privacidad</a></p>
        </div>
        <div> 
          <div><strong>Contactos</strong></div>
           <span><a href="https://www.instagram.com/" ><img alt="logo de Instagram" src="../static/images/instagram.png"  width="20" ></a></span>
           <span><a href="https://www.facebook.com/"> <img alt="logo de Facebook" src="../static/images/facebook.png" width="20" ></a></span>
           <span><a href="https://www.tiktok.com/es" ><img alt="logo de Tiktok" src="../static/images/tik-tok.png"  width="20" ></a></span>
        </div>
        <div> 
           <a href="https://github.com/mili-08"><strong>By Milagro Jaquelina Martinez ❤️</strong> </a>
        </div>
     </div>
   </footer>
</body>
</html>